@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 ">
            <CreateAndAnswerQuiz.UI.Pages.Account.AuthLinks></CreateAndAnswerQuiz.UI.Pages.Account.AuthLinks>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
    <Blazored.Toast.BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.BottomRight" Timeout="10" IconType="Blazored.Toast.IconType.FontAwesome" SuccessClass="success-toast-override" SuccessIcon="fa fa-thumbs-up" ErrorIcon="fa fa-bug" />
</div>
